@layer utilities {
   
  .typography-h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-indent: 0px;
  } 

   
  .typography-h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.01em;
    text-indent: 0px;
  } 

   
  .typography-h3 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    text-indent: 0px;
  } 

   
  .typography-h4 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-large {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-lead {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-p-ui {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-list {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-body-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-subtle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-subtle-medium {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-suble-semibold {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-small {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-detail {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-blockquote {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-inline-code {
    font-family: "Menlo";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-table-head {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 

   
  .typography-table-item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0em;
    text-indent: 0px;
  } 


}